galoy:
  config:
    test_accounts:
      - ref: A
        phone: "${bankowner_phone}"
        code: "${bankowner_code}"
        role: "bankowner"
        username: "bankowner"
        needUsdWallet: true
      - ref: B
        phone: "+50365055543"
        code: "182731"
        needUsdWallet: true
        currency: BTC
      - ref: C
        phone: "+50365055544"
        code: "840172"
        phoneMetadataCarrierType: mobile
        needUsdWallet: true
        currency: BTC
      - ref: D
        phone: "+50365055545"
        code: "105369"
        title: business
        currency: BTC
      - ref: E
        phone: "+59981730223" # dealer
        code: "824199"
        role: dealer
kratos:
  kratos:
    config:
      dsn: postgresql://kratos-pg:kratos-pg@${kratos_pg_host}/kratos-pg
      selfservice:
        flows:
          settings:
            after:
              profile:
                hooks:
                  - hook: web_hook
                    config:
                      url: http://invalid-because-we-dont-want-profile-to-be-updated
                      method: POST
                      body: base64://ZnVuY3Rpb24oY3R4KSB7CiAgICBpZGVudGl0eV9pZDogaWYgc3RkLm9iamVjdEhhcyhjdHgsICJpZGVudGl0eSIpIHRoZW4gY3R4LmlkZW50aXR5LmlkIGVsc2UgbnVsbCwKICAgIHBob25lOiBpZiBzdGQub2JqZWN0SGFzKGN0eC5pZGVudGl0eS50cmFpdHMsICJwaG9uZSIpIHRoZW4gY3R4LmlkZW50aXR5LnRyYWl0cy5waG9uZSBlbHNlIG51bGwsCiAgICBlbWFpbDogaWYgc3RkLm9iamVjdEhhcyhjdHguaWRlbnRpdHkudHJhaXRzLCAiZW1haWwiKSB0aGVuIGN0eC5pZGVudGl0eS50cmFpdHMuZW1haWwgZWxzZSBudWxsLAogICAgc2NoZW1hX2lkOiBjdHguaWRlbnRpdHkuc2NoZW1hX2lkLAogICAgZmxvd19pZDogY3R4LmZsb3cuaWQsCiAgICBmbG93X3R5cGU6IGN0eC5mbG93LnR5cGUKfQ==
                      auth:
                        type: api_key
                        config:
                          name: Authorization
                          value: ${kratos_callback_api_key}
                          in: header
          registration:
            after:
              password:
                hooks:
                  - hook: web_hook
                    config:
                      url: http://api:4002/kratos/registration
                      method: POST
                      can_interrupt: true
                      body: base64://ZnVuY3Rpb24oY3R4KSB7CiAgICBpZGVudGl0eV9pZDogaWYgc3RkLm9iamVjdEhhcyhjdHgsICJpZGVudGl0eSIpIHRoZW4gY3R4LmlkZW50aXR5LmlkIGVsc2UgbnVsbCwKICAgIHBob25lOiBpZiBzdGQub2JqZWN0SGFzKGN0eC5pZGVudGl0eS50cmFpdHMsICJwaG9uZSIpIHRoZW4gY3R4LmlkZW50aXR5LnRyYWl0cy5waG9uZSBlbHNlIG51bGwsCiAgICBlbWFpbDogaWYgc3RkLm9iamVjdEhhcyhjdHguaWRlbnRpdHkudHJhaXRzLCAiZW1haWwiKSB0aGVuIGN0eC5pZGVudGl0eS50cmFpdHMuZW1haWwgZWxzZSBudWxsLAogICAgc2NoZW1hX2lkOiBjdHguaWRlbnRpdHkuc2NoZW1hX2lkLAogICAgZmxvd19pZDogY3R4LmZsb3cuaWQsCiAgICBmbG93X3R5cGU6IGN0eC5mbG93LnR5cGUKfQ==
                      auth:
                        type: api_key
                        config:
                          name: Authorization
                          value: ${kratos_callback_api_key}
                          in: header
                  - hook: session
