cert-manager:
  enabled: false
kubemonkey:
  enabled: false
opentelemetry-collector:
  enabled: false
strimzi-kafka-operator:
  enabled: false
ingress-nginx:
  controller:
    admissionWebhooks:
      enabled: false
    config:
      enable-opentracing: true
      jaeger-service-name: galoy-dev-ingress
      jaeger-collector-host: opentelemetry-collector.galoy-dev-otel.svc.cluster.local
    service:
      type: NodePort
