kubemonkey:
  enabled: false
opentelemetry-collector:
  enabled: false
strimzi-kafka-operator:
  createGlobalResources: false
  watchNamespaces:
%{ for namespace in watch_namespaces ~}
  - "${namespace}"
%{ endfor ~}
