{{ $checksum := include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "lnd.fullname" . }}
  labels:
    {{- include "lnd.labels" . | nindent 4 }}
    {{- if .Values.kubemonkey.enabled }}
    kube-monkey/enabled: enabled
    kube-monkey/identifier: {{ .Release.Name }}
    kube-monkey/kill-mode: fixed
    kube-monkey/kill-value: "1"
    kube-monkey/mtbf: "2"
    {{- end }}
    {{- if .Values.labels }}
    {{- include "common.tplvalues.render" (dict "value" .Values.labels "context" $) | nindent 4 }}
    {{- end }}
spec:
  serviceName: {{ include "lnd.fullname" . }}
  selector:
    matchLabels:
      {{- include "lnd.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ $checksum }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "lnd.selectorLabels" . | nindent 8 }}
        allow-to-bitcoind: "true"
        {{- if .Values.kubemonkey.enabled }}
        kube-monkey/enabled: enabled
        kube-monkey/identifier: {{ .Release.Name }}
        {{- end }}
        {{- if .Values.podLabels }}
        {{- include "common.tplvalues.render" (dict "value" .Values.podLabels "context" $) | nindent 8 }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "lnd.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      initContainers:
        - name: copy-lnd-config
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command:
          - 'sh'
          - '-c'
          - |
            cat <<EOF > /root/.lnd/lnd.conf
            bitcoind.rpcpass=$(cat /rpcpassword/password)
            $(cat /configmap/lnd.conf)
            EOF
          volumeMounts:
            - name: configmap
              mountPath: /configmap
            - name: config
              mountPath: /root/.lnd/
            - name: rpcpassword
              mountPath: /rpcpassword
        {{- if .Values.loadWallet.enabled }}
        - name: load-regtest-wallet
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command:
          - 'sh'
          - '-c'
          - |
            cat /root/wallet_db | base64 -d > /root/wallet.db
            cat /root/macaroons_db | base64 -d > /root/macaroons.db
            cat /root/admin_macaroon | base64 -d > /root/admin.macaroon
            cat /root/readonly_macaroon | base64 -d > /root/readonly.macaroon
            mkdir -p /root/.lnd/data/chain/bitcoin/regtest/
            cp /root/wallet.db /root/.lnd/data/chain/bitcoin/regtest/wallet.db
            cp /root/macaroons.db /root/.lnd/data/chain/bitcoin/regtest/macaroons.db
            cp /root/admin.macaroon /root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
            cp /root/readonly.macaroon /root/.lnd/data/chain/bitcoin/regtest/readonly.macaroon
          volumeMounts:
          - name: lnd-storage
            mountPath: /root/.lnd
          - name: lnd-wallet
            mountPath: /root/wallet_db
            subPath: wallet_db
          - name: lnd-wallet
            mountPath: /root/macaroons_db
            subPath: macaroons_db
          - name: lnd-wallet
            mountPath: /root/admin_macaroon
            subPath: admin_macaroon
          - name: lnd-wallet
            mountPath: /root/readonly_macaroon
            subPath: readonly_macaroon
       {{- end }}
      containers:
        {{- if and (ne .Values.global.network "regtest") .Values.autoGenerateSeed.enabled }}
        - name: init-wallet
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          command: ['/bin/sh']
          args:
          - '-c'
          - |
            set -e
            if lncli -n {{ $.Values.global.network}} state | grep "WAITING_TO_START" ; then
              exit 0;
            fi
            lncli -n {{ $.Values.global.network}} state
            if [ ! -f /root/.lnd/data/chain/bitcoin/${NETWORK}/admin.macaroon ]; then
              while ! test -f /root/.lnd/tls.cert; do sleep 1; done
              apk update; apk add expect
              /home/alpine/walletInit.exp ${NETWORK} $LND_PASS
            fi
            # Trap is required otherwise signals are not handled
            # https://stackoverflow.com/questions/45148381/why-cant-i-ctrl-c-a-sleep-infinity-in-docker-when-it-runs-as-pid-1
            trap "echo shutting down; exit 0" SIGKILL SIGTERM
            while true; do sleep 1; done
          env:
          - name: LND_PASS
            valueFrom:
              secretKeyRef:
                name: {{ printf "%s-pass" (include "lnd.fullname" .) }}
                key: password
          - name: NETWORK
            valueFrom:
              secretKeyRef:
                name: network
                key: network
          volumeMounts:
          - name: wallet-init
            mountPath: /home/alpine/walletInit.exp
            subPath: walletInit.exp
          - name: lnd-storage
            mountPath: /root/.lnd
        {{- end }}
        - name: tor
          image: osminogin/tor-simple
          securityContext:
            runAsUser: 100
          command: ['/bin/sh']
          volumeMounts:
          - name: tor-cookie-auth
            mountPath: /var/lib/tor/auth
          args:
          - '-c'
          - |
            sed 's/SocksPort 0.0.0.0:9050/SocksPort 127.0.0.1:9050/g' /etc/tor/torrc > ~/torrc
            cat <<EOF > ~/torrc
            ControlPort 9051
            CookieAuthentication 1
            CookieAuthFile /var/lib/tor/auth/cookie
            CookieAuthFileGroupReadable 1
            $(cat ~/torrc)
            EOF
            exec tor -f ~/torrc
        - name: export-secrets
          image: "{{ .Values.sidecarImage.repository }}@{{ .Values.sidecarImage.digest }}"
          command: ['/bin/sh']
          args:
          - '-c'
          - |
            lncli -n=$NETWORK getinfo
            while [[ $? != 0 ]]; do sleep 1; lncli -n=$NETWORK getinfo; done
            /home/alpine/exportSecrets.sh
            trap "echo shutting down; exit 0" SIGKILL SIGTERM
            while true; do sleep 1; done
          env:
          - name: NETWORK
            valueFrom:
              secretKeyRef:
                name: network
                key: network
          volumeMounts:
          - name: export-secrets
            mountPath: /home/alpine/exportSecrets.sh
            subPath: exportSecrets.sh
          - name: lnd-storage
            mountPath: /root/.lnd
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          ports:
            - name: rpc
              containerPort: {{ .Values.apiService.ports.rpc }}
            - name: p2p
              containerPort: {{ .Values.p2pService.port }}
            - name: rest
              containerPort: {{ .Values.apiService.ports.rest }}
          volumeMounts:
            - name: tor-cookie-auth
              mountPath: /var/lib/tor/auth
            - name: lnd-storage
              mountPath: /root/.lnd
            - name: config
              mountPath: /root/.lnd/lnd.conf
              subPath: lnd.conf
            {{- if ne .Values.global.network "regtest" }}
            - name: lnd-password
              mountPath: /tmp/lnd-pass
              subPath: password
            {{- end }}
          startupProbe:
            exec:
              command:
              - sh
              - -c
              - "lncli -n {{ $.Values.global.network}} state | grep -q SERVER_ACTIVE"
            failureThreshold: 540
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
              - sh
              - -c
              - "lncli -n {{ $.Values.global.network}} state | grep -q SERVER_ACTIVE"
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            exec:
              command:
              - sh
              - -c
              - "lncli -n {{ $.Values.global.network}} state | grep -q SERVER_ACTIVE"
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
            initialDelaySeconds: 600
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        {{- if ne .Values.global.network "regtest" }}
        - name: wallet-init
          configMap:
            name: {{ printf "%s-wallet-init" (include "lnd.fullname" .) }}
            defaultMode: 0777
        {{- end }}
        {{- if .Values.loadWallet.enabled }}
        - name: lnd-wallet
          secret:
            secretName: {{ .Values.loadWallet.walletSecretName }}
        {{- end }}
        - name: export-secrets
          configMap:
            name: {{ printf "%s-export-secrets" (include "lnd.fullname" .) }}
            defaultMode: 0777
        - name: config
          emptyDir: {}
        - name: rpcpassword
          secret:
            secretName: {{ .Values.bitcoindRpcPassSecretName }}
        - name: configmap
          configMap:
            name: {{ include "lnd.fullname" . }}
        {{- if ne .Values.global.network "regtest" }}
        - name: lnd-password
          secret:
            secretName: {{ printf "%s-pass" (include "lnd.fullname" .) }}
        {{- end }}
        - name: lnd-storage
        {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ .Values.persistence.existingClaim | default (include "lnd.fullname" $) }}
        {{- else }}
          emptyDir: {}
        {{- end }}
        - name: tor-cookie-auth
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
