image:
  repository: us.gcr.io/galoy-org/galoy-pay
  digest: "sha256:b7550fd7e6beae0e3f8924e2221ad00882a450912c9c97319db86f0f58bd7edb" # METADATA:: repository=https://github.com/GaloyMoney/galoy;commit_ref=4fd2046;app=pay;monorepo_subdir=apps/pay;
ingress:
  enabled: false
service:
  port: 80
  type: ClusterIP
payUrl: https://pay.domain.com
payDomain: domain.com
coreGqlUrlIntranet: http://service-name.namespace.svc.cluster.local
nostrPubkey: "pubkey"
galoy-nostr:
  enabled: true
  fullnameOverride: galoy-nostr
redis:
  redis0Dns: "galoy-redis-node-0.galoy-redis-headless"
  redis1Dns: "galoy-redis-node-1.galoy-redis-headless"
  redis2Dns: "galoy-redis-node-2.galoy-redis-headless"
  auth:
    existingSecret: galoy-redis-pw
    existingSecretPasswordKey: redis-password
resources: {}
