kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-to-{{ include "bitcoind.fullname" . }}
spec:
  podSelector:
    matchLabels:
      {{- include "bitcoind.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
  ingress:
    - from:
      - namespaceSelector: {}
        podSelector:
          matchLabels:
            allow-to-{{ include "bitcoind.fullname" . }}: "true"
