global:
  network: regtest

resources:
  limits:
    cpu: 150m
    memory: 256Mi

terminationGracePeriodSeconds: 0

persistence:
  enabled: false

configmap:
  customValues:
  - bitcoin.regtest=true
  - bitcoin.defaultchanconfs=0
  - noseedbackup=1
  - bitcoind.rpchost=bitcoind:18443
  - keysend-hold-time=2s
  - tlsextradomain=lnd1.galoy-dev-bitcoin.svc.cluster.local

loop:
  enabled: true
loopserver:
  enabled: true

lndWatchOnly:
  enabled: true
  signer: signer1.galoy-dev-signer.svc.cluster.local:10009
