secrets:
  create: false
stablesats:
  priceDeployment:
    replicas: 1
  galoy:
    phoneNumber: '"${galoy_phone_number}"'
  exchanges:
    okex:
      client:
        apiKey: "${okex_api_key}"
        simulated: true
  crash_report_config_danger: true
  bria:
    url: "http://bria-api.galoy-staging-bitcoin.svc.cluster.local:2742"
    walletName: galoy-staging-hot
postgresql:
  primary:
    resources:
    limits: {}
    requests:
      memory: 256Mi
      cpu: 100m
  auth:
    existingSecret: stablesats
    secretKeys:
      userPasswordKey: "pg-user-pw"
