secrets:
  create: false
stablesats:
  galoy:
    phoneNumber: '"${galoy_phone_number}"'
  okex:
    apiKey: "${okex_api_key}"
    simulated: true
  crash_report_config_danger: true
redis:
  auth:
    existingSecret: stablesats
    existingSecretPasswordKey: "redis-password"
user-trades-pg:
  primary:
    resources:
    limits: {}
    requests:
      memory: 256Mi
      cpu: 100m
  auth:
    existingSecret: stablesats
    secretKeys:
      userPasswordKey: "user-trades-pg-user-pw"
hedging-pg:
  primary:
    resources:
    limits: {}
    requests:
      memory: 256Mi
      cpu: 100m
  auth:
    existingSecret: stablesats
    secretKeys:
      userPasswordKey: "hedging-pg-user-pw"
