secrets:
  create: false
stablesats:
  priceReplicas: 1
  galoy:
    phoneNumber: '"${galoy_phone_number}"'
  exchanges:
    okex:
      client:
        apiKey: "${okex_api_key}"
        simulated: true
  crash_report_config_danger: true
redis:
  auth:
    existingSecret: stablesats
    existingSecretPasswordKey: "redis-password"
postgresql:
  primary:
    resources:
    limits: {}
    requests:
      memory: 256Mi
      cpu: 100m
  auth:
    existingSecret: stablesats
    secretKeys:
      userPasswordKey: "pg-user-pw"
