strimzi-kafka-operator:
  createGlobalResources: false
cert-manager:
  installCRDs: false
ingress-nginx:
  controller:
    config:
      jaeger-service-name: ${service_name}
      jaeger-collector-host: ${jaeger_host}
