strimzi-kafka-operator:
  createGlobalResources: false
kubemonkey:
  fullnameOverride: ${kubemonkey_fullname_override}
cert-manager:
  installCRDs: false
ingress-nginx:
  controller:
    ingressClassResource:
      enabled: false
    config:
      jaeger-service-name: ${service_name}
      jaeger-collector-host: ${jaeger_host}
opentelemetry-collector:
  clusterRole:
    create: false
  mode: deployment
