strimzi-kafka-operator:
  createGlobalResources: false
kubemonkey:
  fullnameOverride: ${kubemonkey_fullname_override}
cert-manager:
  installCRDs: false
ingress-nginx:
  controller:
    ingressClassResource:
      enabled: false
    config:
      otlp-service-name: ${service_name}
      otlp-collector-host: ${otlp_collector_host}
