secrets:
  create: true
  pgCon: ""
  okexSecretKey: ""
  okexPassphrase: ""
  galoyPhoneCode: ""
stablesats:
  priceReplicas: 2
  dealerReplicas: 1
  image:
    repository: us.gcr.io/galoy-org/stablesats-rs
    digest: "sha256:b859deaee961048e42b3fb3d4d139fa2aeeecf0e763a058c93928fbbdc9d17cc"
    git_ref: "c01273f"
  crash_report_config_danger: false
  db:
    poolSize: 20
  userTrades:
    enabled: true
    balancePublishFrequency: 5
    galoyPollFrequency: 10
  hedging:
    enabled: true
    health:
      unhealthyMsgIntervalPosition: 30
      unhealthyMsgIntervalLiability: 30
      unhealthyMsgIntervalPrice: 30
  priceServer:
    port: 3325
    fees:
      baseFeeRate: 0.0010
      immediateFeeRate: 0.0015
      delayedFeeRate: 0.0010
    priceCache:
      staleAfter: 40
    health:
      unhealthyMsgIntervalPrice: 30
  galoy:
    api: "https://api.staging.galoy.io/graphql"
    phoneNumber: "+50365055530"
  exchanges:
    okex:
      pollFrequency: 10
      client:
        apiKey: ""
        simulated: true
  tracing:
    jaegerHost: "localhost"
    priceServiceName: "stablesats-price"
    dealerServiceName: "stablesats-dealer"
redis:
  enabled: true
  master:
    persistence:
      enabled: true
  auth:
    password: password
  sentinel:
    enabled: true
  metrics:
    enabled: true
postgresql:
  enabled: true
  auth:
    enablePostgresUser: false
    username: stablesats
    password: stablesats
    database: stablesats
