{{ if .Values.galoy.balanceNotificationCron.enabled }}
apiVersion: batch/v1beta1
kind: CronJob

metadata:
  name: {{ template "galoy.balanceNotificationCron.jobname" . }}
  labels:
    app: {{ template "galoy.balanceNotificationCron.jobname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app.kubernetes.io/managed-by: Helm

spec:
  schedule: 0 14 * * * # Fire everyday at 02:00PM

  jobTemplate:
    spec:
      activeDeadlineSeconds: 7201

      template:
        metadata:
          labels:
            allow-to-bitcoind: "true"

        spec:
          serviceAccountName: {{ template "galoy.name" . }}
          restartPolicy: OnFailure

          initContainers:
          - name: wait-for-mongodb-migrate
            image: "groundnuty/k8s-wait-for:v1.5.1"
            args:
            - job-wr
            - {{ template "galoy.migration.jobname" . }}

          containers:
          - name: {{ template "galoy.balanceNotificationCron.jobname" . }}
            image: "{{ .Values.galoy.images.app.repository }}@{{ .Values.galoy.images.app.digest }}"
            args:
            - "-r"
            - "/app/lib/services/tracing.js"
            - "lib/servers/daily-balance-notification.js"

            env:
            - name: HELMREVISION
              value: {{ .Release.Revision | quote }}
            - name: NODE_ENV
              value: "production"
            - name: LOGLEVEL
              value: {{ .Values.galoy.trigger.logLevel | quote }}

            - name: NETWORK
              value: {{ .Values.galoy.network }}

            - name: JAEGER_HOST
              value: {{ .Values.tracing.jaegerHost | quote }}
            - name: TRACING_SERVICE_NAME
              value: "{{ .Values.tracing.prefix }}-{{ template "galoy.balanceNotificationCron.jobname" . }}"

{{/* Databases */}}
{{ include "galoy.mongodb.env" . | indent 12 }}
{{ include "galoy.redis.env" . | indent 12 }}

{{/* Bitcoin/LND */}}
{{ include "galoy.bitcoind.env" . | indent 12 }}
{{ include "galoy.lnd1.env" . | indent 12 }}
{{ include "galoy.lnd2.env" . | indent 12 }}

{{ include "galoy.jwt.env" . | indent 12 }}

            {{ if .Values.galoy.trigger.backups.dropbox.enabled }}
            - name: DROPBOX_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.galoy.trigger.backups.dropbox.accessTokenExistingSecret.name | quote }}
                  key: {{ .Values.galoy.trigger.backups.dropbox.accessTokenExistingSecret.key | quote }}
            {{ end }}

            {{ if .Values.galoy.api.firebaseNotifications.enabled }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: "/tmp/service-account.json"
            {{ end }}

            volumeMounts:
            {{ if .Values.galoy.api.firebaseNotifications.enabled }}
            - name: firebase-notifications-service-account
              mountPath: /tmp
              readOnly: true
            {{ end }}

            - name: custom-yaml
              mountPath: "/var/yaml/"

          volumes:
          {{ if .Values.galoy.api.firebaseNotifications.enabled }}
          - name: firebase-notifications-service-account
            secret:
              secretName: {{ .Values.galoy.api.firebaseNotifications.existingSecret.name }}
              items:
              - key: {{ .Values.galoy.api.firebaseNotifications.existingSecret.key }}
                path: service-account.json
          {{ end }}

          - name: custom-yaml
            secret:
              secretName: "{{ template "galoy.config.name" . }}"
{{ end }}
