{{- if .Values.secrets.create -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.mongodb.auth.existingSecret }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app.kubernetes.io/component: mongodb
type: Opaque
data:
  mongodb-root-password: {{ .Values.secrets.mongodbRootPassword | toString | b64enc }}
  mongodb-passwords: {{ .Values.secrets.mongodbPassword | toString | b64enc }}
  mongodb-metrics-password: {{ .Values.secrets.mongodbMetricsPassword | toString | b64enc }}
  mongodb-replica-set-key: {{ .Values.secrets.mongodbReplicaSetKey | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.redis.auth.existingSecret }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app.kubernetes.io/component: redis
type: Opaque
data:
  {{ .Values.redis.auth.existingSecretPasswordKey }}: {{ .Values.secrets.redisPassword | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.bria.apiKeyExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.bria.apiKeyExistingSecret.key }}: {{ .Values.secrets.briaApiKey | toString | b64enc }}

---

{{ if .Values.postgresql.enabled }}

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.postgresql.auth.existingSecret }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    app.kubernetes.io/component: postgres
type: Opaque
data:
  password: {{ .Values.secrets.postgresPassword | toString | b64enc }}
  username: {{ .Values.postgresql.auth.username | toString | b64enc }}
  database: {{ .Values.postgresql.auth.database | toString | b64enc }}

{{ end }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.geetestExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.geetestExistingSecret.id_key }}: {{ .Values.secrets.geetestId | toString | b64enc }}
  {{ .Values.galoy.geetestExistingSecret.secret_key }}: {{ .Values.secrets.geetestSecretKey | toString | b64enc }}


---


apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.twilioExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.twilioExistingSecret.verify_service_id }}: {{ .Values.secrets.twilioVerifyServiceId | toString | b64enc }}
  {{ .Values.galoy.twilioExistingSecret.account_sid_key }}: {{ .Values.secrets.twilioAccountSid | toString | b64enc }}
  {{ .Values.galoy.twilioExistingSecret.auth_token_key }}: {{ .Values.secrets.twilioAuthToken | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.jwtSecretExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.jwtSecretExistingSecret.key }}: {{ .Values.secrets.jwtSecret | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.bitcoind.rpcPasswordExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.bitcoind.rpcPasswordExistingSecret.key }}: {{ .Values.secrets.bitcoindRpcPassword | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd1.credentialsExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd1.credentialsExistingSecret.macaroon_key }}: {{ .Values.secrets.lnd1Macaroon | toString | b64enc }}
  {{ .Values.galoy.lnd1.credentialsExistingSecret.tls_key }}: {{ .Values.secrets.lnd1Tls | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd1.loopCredentialsExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd1.loopCredentialsExistingSecret.macaroon_key }}: {{ .Values.secrets.lnd1LoopMacaroon | toString | b64enc }}
  {{ .Values.galoy.lnd1.loopCredentialsExistingSecret.tls_key }}: {{ .Values.secrets.lnd1LoopTls | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd1.pubkeyExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd1.pubkeyExistingSecret.key }} : {{ .Values.secrets.lnd1PubKey | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd2.credentialsExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd2.credentialsExistingSecret.macaroon_key }}: {{ .Values.secrets.lnd2Macaroon | toString | b64enc }}
  {{ .Values.galoy.lnd2.credentialsExistingSecret.tls_key }}: {{ .Values.secrets.lnd2Tls | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd2.loopCredentialsExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd2.loopCredentialsExistingSecret.macaroon_key }}: {{ .Values.secrets.lnd2LoopMacaroon | toString | b64enc }}
  {{ .Values.galoy.lnd2.loopCredentialsExistingSecret.tls_key }}: {{ .Values.secrets.lnd2LoopTls | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.lnd2.pubkeyExistingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.lnd2.pubkeyExistingSecret.key }} : {{ .Values.secrets.lnd2PubKey | toString | b64enc }}

---

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.galoy.kratos.existingSecret.name }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
type: Opaque
data:
  {{ .Values.galoy.kratos.existingSecret.master_user_password }}: {{ .Values.secrets.kratosMasterUserPassword | toString | b64enc }}
  {{ .Values.galoy.kratos.existingSecret.callback_api_key }}: {{ .Values.secrets.kratosCallbackApiKey | toString | b64enc }}
{{- end -}}
