apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "galoy.name" . }}
  labels:
    app: {{ template "galoy.name" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
rules:
- apiGroups: ["batch"]
  resources: ["cronjobs"]
  verbs: ["get"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["create", "delete", "get", "list"]
