galoy-nostr:
  lnd1:
    dns: lnd1.galoy-staging-bitcoin.svc.cluster.local
  redis:
    redis0Dns: galoy-redis-node-0.galoy-redis-headless.${redis_namespace}.svc.cluster.local
    redis1Dns: galoy-redis-node-1.galoy-redis-headless.${redis_namespace}.svc.cluster.local
    redis2Dns: galoy-redis-node-2.galoy-redis-headless.${redis_namespace}.svc.cluster.local
redis:
  redis0Dns: galoy-redis-node-0.galoy-redis-headless.${redis_namespace}.svc.cluster.local
  redis1Dns: galoy-redis-node-1.galoy-redis-headless.${redis_namespace}.svc.cluster.local
  redis2Dns: galoy-redis-node-2.galoy-redis-headless.${redis_namespace}.svc.cluster.local
graphqlHostname: ${graphql_hostname}
graphqlHostnameInternal: ${graphql_hostname_internal}
websocketUrl: ${websocket_url}
