cert-manager:
  enabled: false
ingress-nginx:
  enabled: false
kubemonkey:
  enabled: false
opentelemetry-collector:
  enabled: false
strimzi-kafka-operator:
  watchNamespaces:
%{ for namespace in watch_namespaces ~}
  - "${namespace}"
%{ endfor ~}
  kafka:
    listener:
      type: nodeport
