galoy:
  config:
    test_accounts:
      - ref: A
        phone: "${bankowner_phone}"
        code: "${bankowner_code}"
        role: "bankowner"
        username: "bankowner"
        needUsdWallet: true
      - ref: B
        phone: "+16505554336"
        code: "321321"
        role: "editor"
        username: "editor"
        needUsdWallet: true
  bria:
    host: bria-api.galoy-dev-bitcoin.svc.cluster.local
oathkeeper:
  oathkeeper:
    config:
      mutators:
        hydrator:
          enabled: true
          config:
            api:
              url: http://api:4002/kratos/subjectToUserId
              auth:
                basic:
                  username: oathkeeper
                  password: ${kratos_callback_api_key}
    accessRules: |
      [
        {
          "id": "cookie-anonymous-routes",
          "upstream": { "url": "http://api:4002" },
          "match": {
            "url": "<(http|https)>://<[a-zA-Z0-9-.:]+>/auth/<(clearCookies|login|logout)>",
            "methods": ["GET", "POST", "OPTIONS"]
          },
          "authenticators": [{ "handler": "anonymous" }],
          "authorizer": { "handler": "allow" },
          "mutators": [{ "handler": "noop" }]
        },
        {
          "id": "apollo-playground-ui",
          "upstream": {
            "url": "http://api:4002"
          },
          "match": {
            "url": "<(http|https)>://<[a-zA-Z0-9-.:]+>/graphql",
            "methods": ["GET", "OPTIONS"]
          },
          "authenticators": [{ "handler": "anonymous" }],
          "authorizer": { "handler": "allow" },
          "mutators": [
            {
              "handler": "id_token",
              "config": {
                "claims": "{\"sub\": \"{{ print .Subject }}\"}"
              }
            }
          ]
        },
        {
          "id": "galoy-backend",
          "upstream": {
            "url": "http://api:4002"
          },
          "match": {
            "url": "<(http|https)>://<[a-zA-Z0-9-.:]+>/graphql<.*>",
            "methods": [ "POST" ]
          },
          "authenticators": [
            {
              "handler": "jwt",
              "config": {
                "trusted_issuers": [ "https://firebaseappcheck.googleapis.com/72279297366" ],
                "target_audience": [ "projects/72279297366" ],
                "jwks_urls": [ "https://firebaseappcheck.googleapis.com/v1beta/jwks" ]
              }
            },
            {
              "handler": "cookie_session",
              "config": {
                "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            {
              "handler": "bearer_token",
              "config": {
                "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            { "handler": "anonymous" }
          ],
          "authorizer": { "handler": "allow" },
          "mutators": [
            {
              "handler": "hydrator",
              "config": {
                "api": {
                  "url": "http://api:4002/kratos/subjectToUserId",
                  "auth": {
                    "basic": {
                      "username": "oathkeeper",
                      "password": "${kratos_callback_api_key}"
                    }
                  }
                }
              }
            },
            {
              "handler": "id_token",
              "config": {
                "claims": "{\"sub\": \"{{ print .Subject }}\", \"userId\": \"{{ print .Extra.userId }}\"}"
              }
            }
          ]
        },
        {
          "id": "galoy-backend-middleware-routes",
          "upstream": {
            "url": "http://api:4002"
          },
          "match": {
            "url": "<(http|https)>://<[a-zA-Z0-9-.:]+>/<(kratos|browser)(.*)>",
            "methods": ["GET", "POST", "OPTIONS"]
          },
          "authenticators": [
            {
              "handler": "cookie_session",
              "config": {
                "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            {
              "handler": "bearer_token",
              "config": {
                "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            { "handler": "anonymous" }
          ],
          "authorizer": {
            "handler": "allow"
          },
          "mutators": [
            {
              "handler": "id_token",
              "config": { "claims": '{"sub": "{{ print .Subject }}"}' }
            }
          ]
        },
        {
          "id": "admin-backend",
          "upstream": {
            "url": "http://graphql-admin:4001",
            "strip_path": "/admin"
          },
          "match": {
            "url": "<(http|https)>://<.*><[0-9]*>/admin/<.*>",
            "methods": ["GET", "POST", "OPTIONS"]
          },
          "authenticators": [
            {
              "handler": "cookie_session",
              "config": {
                "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            {
              "handler": "bearer_token",
              "config": {
               "check_session_url": "http://galoy-kratos-public:80/sessions/whoami",
                "preserve_path": true,
                "preserve_query": true,
                "subject_from": "identity.id",
                "extra_from": "identity.traits"
              }
            },
            { "handler": "anonymous" }
          ],
          "authorizer": {
            "handler": "allow"
          },
          "mutators": [
            {
              "handler": "id_token",
              "config": { "claims": '{"sub": "{{ print .Subject }}"}' }
            }
          ]
        }
      ]
kratos:
  kratos:
    config:
      dsn: postgresql://kratos-pg:kratos-pg@${kratos_pg_host}/kratos-pg
      selfservice:
        flows:
          settings:
            after:
              profile:
                hooks:
                  - hook: web_hook
                    config:
                      url: http://invalid-because-we-dont-want-profile-to-be-updated
                      method: POST
                      body: base64://ZnVuY3Rpb24oY3R4KSB7CiAgICBpZGVudGl0eV9pZDogaWYgc3RkLm9iamVjdEhhcyhjdHgsICJpZGVudGl0eSIpIHRoZW4gY3R4LmlkZW50aXR5LmlkIGVsc2UgbnVsbCwKICAgIHBob25lOiBpZiBzdGQub2JqZWN0SGFzKGN0eC5pZGVudGl0eS50cmFpdHMsICJwaG9uZSIpIHRoZW4gY3R4LmlkZW50aXR5LnRyYWl0cy5waG9uZSBlbHNlIG51bGwsCiAgICBkZXZpY2VJZDogaWYgc3RkLm9iamVjdEhhcyhjdHguaWRlbnRpdHkudHJhaXRzLCAiZGV2aWNlSWQiKSB0aGVuIGN0eC5pZGVudGl0eS50cmFpdHMuZGV2aWNlSWQgZWxzZSBudWxsLAogICAgZW1haWw6IGlmIHN0ZC5vYmplY3RIYXMoY3R4LmlkZW50aXR5LnRyYWl0cywgImVtYWlsIikgdGhlbiBjdHguaWRlbnRpdHkudHJhaXRzLmVtYWlsIGVsc2UgbnVsbCwKICAgIHNjaGVtYV9pZDogY3R4LmlkZW50aXR5LnNjaGVtYV9pZCwKICAgIGZsb3dfaWQ6IGN0eC5mbG93LmlkLAogICAgZmxvd190eXBlOiBjdHguZmxvdy50eXBlCn0=
                      auth:
                        type: api_key
                        config:
                          name: Authorization
                          value: ${kratos_callback_api_key}
                          in: header
          registration:
            after:
              password:
                hooks:
                  - hook: web_hook
                    config:
                      url: http://api:4002/kratos/registration
                      method: POST
                      response:
                        parse: false
                      body: base64://ZnVuY3Rpb24oY3R4KSB7CiAgICBpZGVudGl0eV9pZDogaWYgc3RkLm9iamVjdEhhcyhjdHgsICJpZGVudGl0eSIpIHRoZW4gY3R4LmlkZW50aXR5LmlkIGVsc2UgbnVsbCwKICAgIHBob25lOiBpZiBzdGQub2JqZWN0SGFzKGN0eC5pZGVudGl0eS50cmFpdHMsICJwaG9uZSIpIHRoZW4gY3R4LmlkZW50aXR5LnRyYWl0cy5waG9uZSBlbHNlIG51bGwsCiAgICBkZXZpY2VJZDogaWYgc3RkLm9iamVjdEhhcyhjdHguaWRlbnRpdHkudHJhaXRzLCAiZGV2aWNlSWQiKSB0aGVuIGN0eC5pZGVudGl0eS50cmFpdHMuZGV2aWNlSWQgZWxzZSBudWxsLAogICAgZW1haWw6IGlmIHN0ZC5vYmplY3RIYXMoY3R4LmlkZW50aXR5LnRyYWl0cywgImVtYWlsIikgdGhlbiBjdHguaWRlbnRpdHkudHJhaXRzLmVtYWlsIGVsc2UgbnVsbCwKICAgIHNjaGVtYV9pZDogY3R4LmlkZW50aXR5LnNjaGVtYV9pZCwKICAgIGZsb3dfaWQ6IGN0eC5mbG93LmlkLAogICAgZmxvd190eXBlOiBjdHguZmxvdy50eXBlCn0=
                      auth:
                        type: api_key
                        config:
                          name: Authorization
                          value: ${kratos_callback_api_key}
                          in: header
                  - hook: session
