bria:
  blockchain:
    electrumUrl: fulcrum.${bitcoin_namespace}.svc.cluster.local
  
  secrets:
    create: false

postgresql:
  auth:
    existingSecret: bria
    secretKeys:
      userPasswordKey: "pg-user-pw"
