name: automerge
on:
  pull_request_review:
    types:
      - submitted
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@v0.15.6"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: galoybot
          MERGE_FORKS: false
          MERGE_METHOD: squash
          MERGE_REQUIRED_APPROVALS: 1
