name: dev-smoketest
on:
  pull_request:
    branches: [main]

jobs:
  smoketest:
    name: Hit smoketests against Charts in Dev Setup
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - uses: AbsaOSS/k3d-action@v2
        name: "Create Single Cluster"
        with:
          cluster-name: "k3s-default"
          args: >-
            --image rancher/k3s:v1.23.12-k3s1
            -v "$(pwd):/charts"
            --k3s-arg --disable=traefik@server:0
            --k3s-arg --disable=servicelb@server:0
      - name: Deploy Infra over K3D in Dev Mode
        run: |
          pushd dev && source ./.envrc
          make init
          make deploy-services
      - name: Deploy Charts in Dev
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 30
          retry_on: error
          max_attempts: 3
          command: pushd dev && source ./.envrc && make deploy
      - name: Wait for Ready
        run: |
          echo "Stack takes about 2 minutes to startup, waiting..."
          sleep 2m
      - name: Bitcoin Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=bitcoind ./dev-smoketest-settings.sh && \
            ./bitcoind-smoketest.sh regtest && \
            rm -rf smoketest-settings"
      - name: LND Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=lnd ./dev-smoketest-settings.sh && \
            ./lnd-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Galoy Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=galoy ./dev-smoketest-settings.sh && \
            ./galoy-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Galoy Auth Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=galoy-auth ./dev-smoketest-settings.sh && \
            ./galoy-auth-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Monitoring Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=monitoring ./dev-smoketest-settings.sh && \
            ./monitoring-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Stablesats Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=stablesats ./dev-smoketest-settings.sh && \
            ./stablesats-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Admin Panel Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=admin-panel ./dev-smoketest-settings.sh && \
            ./admin-panel-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Galoy Pay Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=galoy-pay ./dev-smoketest-settings.sh && \
            ./galoy-pay-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Web Wallet Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=web-wallet ./dev-smoketest-settings.sh && \
            ./web-wallet-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Dealer Smoketest
        run: |
          pushd dev && source ./.envrc
          kubectl -n galoy-dev-smoketest exec smoketest -- bash -c "cd /charts/ci/tasks && \
            CHART=dealer ./dev-smoketest-settings.sh && \
            ./dealer-smoketest.sh && \
            rm -rf smoketest-settings"
      - name: Clean Up
        if: always()
        run: |
          sudo rm -rf ci/tasks/smoketest-settings
          k3d cluster delete --all
