apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "adminPanel.fullname" . }}
  labels:
    app: {{ template "adminPanel.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
spec:
  selector:
    matchLabels:
      app: {{ template "adminPanel.fullname" . }}
      release: {{ .Release.Name }}
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ template "adminPanel.fullname" . }}
        release: "{{ .Release.Name }}"
{{- with .Values.labels }}
{{ toYaml . | trim | indent 8 }}
{{- end }}
    spec:
      containers:
      - name: admin-panel
        image: "{{ .Values.image.repository }}@{{ .Values.image.digest }}"
        ports:
        - containerPort: {{ .Values.service.port }}
        env:
        - name: NEXT_PUBLIC_GRAPHQL_URL
          value: {{ .Values.adminPanel.graphqlUrl }}
        - name: NEXT_PUBLIC_GALOY_AUTH_ENDPOINT
          value: {{ .Values.adminPanel.galoyAuthEndpoint }}
